/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 80%;
  width: 100%;
}

html, body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
#floating-panel {
  background-color: #fff;
  border: 1px solid #999;
  left: 25%;
  padding: 5px;
  position: absolute;
  top: 10px;
  z-index: 5;
}

.emotion {
  height:100%;
  transition: all .3s ease-in 0s;
   -moz-transition: all .3s ease-in 0s;
   -webkit-transition: all .23s ease-in 0s;
  position:absolute;
  width:100%;
  left:0;
  top:-100%;
  background: rgba(19,148,119,0.9);
}

#map:hover .emotion, #map:focus .emotion {
 left: 0;
 top:0;
 transition: all .3s ease-out .1s;
   -moz-transition: all .3s ease-out .1s;
   -webkit-transition: all .3s ease-out .1s;
}

#map:hover body{
  background-color: red;
}
#hotspot-header {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}

#hotspot-description {
  text-align: center;
  transition-timing-function: ease-in-out;
  display: inline-block;
}

#hotspot-description:hover {
  width: 500px;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-size: 20px;
  font-weight: 300;
  margin: 12px 20px 0 0;
  padding: 0 11px 0 13px;
  text-align: center;
  text-overflow: ellipsis;
  width: 500px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

#target {
  width: 345px;
}

.dropdown {
  margin-top: 2vh;
  margin-left: 30vh;
}

#emotionDropdown {
  width: 250px;
  font-size: 20px;
  margin-bottom: 5px;
}
